# Veri seti (çok büyük)
ISIC/
*.jpg
*.jpeg
*.png
*.bmp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Geçici dosyalar
*.log
*.tmp
